<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Water Quality Predictor</title>

<style>
.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=file] {
    background-color: #588ab9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

div{
    text-align: center;
    padding: 50px;
}

</style>

</head>
<body>

    <h1>Water Quality Predictor</h1>
	<h2>Environment and Climage Change Canada</h2>

    <div>
        <form action="/upload" method="post" enctype="multipart/form-data" style="display:{{ form_hidden_or_not }}">
            {% csrf_token %}
            Date: <input type="date" name="date" id="date" min="{{ min_date }}" max="{{ max_date }}"/>
            <br>
            <br>
            <select name="all_locations" id="all_locations" onchange="select_on_change()" required>
                <option value="all">All available locations</option>
                <option value="one">Input a specific location</option>
            </select>
            <br>
            <div name="location" id="location" style="display: none;">
                Longitude: <input type="text" name="Longitude" id="Longitude"/>
                <br>
                <br>
                Latitude: <input type="text" name="Latitude" id="Latitude"/>
            </div>
            <input type="submit" value="Submit" onclick="waiting_animation()">
        </form>
        <div id="processing_div" style="display: none;">
            <h3>Processing Data, Please Wait...</h3>
            <div class="loader"></div>
        </div>
        <div style='display:{{ hidden_or_not }}'>
            <p>Date: {{ Date }}</p>
            <br>
            <br>
            <a href={{ data_download }} download>Download Prediction Results</a>
            <br>
            <br>
            <a href={{ visualization_map_link }} target="_blank">Open Visualization Map</a>
            <br>
            <br>
            <a href='/'><button>Go Back</button></a>
        </div>
        <div style='display:{{ hidden_or_not_information }}'>
            <p>Date: {{ Date }}</p>
            <br>
            <br>
            <p>{{ information }}</p>
            <br>
            <br>
            <a href='/'><button>Go Back</button></a>
        </div>

        <div style='display:{{ single_location_results }}'>
            <p>Date: {{ Date }}</p>
            <br>
            <br>
            <p>The location with Longitude({{ current_longitude }}) and Latitude({{ current_latitude}}) is <br> predicted as {{ FC_information }} level, and this water area is predicted as {{ actionable_or_not }}</p>
            <a href='/'><button>Go Back</button></a>
        </div>

        <div style='display:{{ error_hidden_or_not }}'>
            <p>Date: {{ Date }}</p>
            <br>
            <br>
            <p>The location is Longitude({{ current_longitude }}) and Latitude({{ current_latitude}})</p>
            <br>
            <br>
            <p>Sorry, {{ error }}</p>
            <br>
            <br>
            <p>Please click "Go Back" and input the new location</p>
            <br>
            <br>
            <a href='/'><button>Go Back</button></a>
        </div>
        <!-- {% load static %}
        <img src="{% static original_image %}" alt='original_image' width="30%" height="30%" style='border:5'> -->
    </div>

    <script>
    function waiting_animation(){
        document.getElementById("processing_div").style.display = 'block'
    };

    function select_on_change(){
        var x = document.getElementById("all_locations").value;
        if(x == 'all'){
            document.getElementById("location").style.display = 'none'
        }else{
            document.getElementById("location").style.display = 'block'
        }
    }
    </script>
</body>
</html>

